.create-article {
  h1 {
    margin-bottom: 3rem;
  }

  form {
    padding: 0 40px;

    .select input {
      box-shadow: none;
    }

    .confirmation-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
