@import '../../assets/scss/vars/colors';
$light: map-get($input-colors, light);
$dark: map-get($input-colors, dark);
$error-color: map-get($light, error);
$ring-bg: map-get($light, bg);

%inputCommon {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 2rem;

  & label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  & input {
    width: 100%;
  }

  .error {
    border: 2px solid $error-color;

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
      box-shadow: 0 0 0 4px $ring-bg, 0 0 0 6px $error-color;
    }
  }
  .errorMsg {
    color: $error-color;
  }
}

.inputComponent {
  @extend %inputCommon;

  &--dark {
    @extend %inputCommon;

    & input {
      background-color: map-get($dark, bg);
      border-color: map-get($dark, bg);
      color: map-get($dark, text);
      &:hover,
      &:focus,
      &:active {
        border-color: transparent;
        box-shadow: 0 0 0 4px map-get($dark, bg-ring-hover),
          0 0 0 6px map-get($dark, border-hover);
      }

      &::placeholder {
        color: map-get($dark, placeholder);
      }
    }
    .error {
      &:hover,
      &:focus,
      &:active {
        border-color: transparent;
        box-shadow: 0 0 0 4px map-get($dark, bg-ring-hover),
          0 0 0 6px $error-color;
      }
    }
  }
}
