@import 'vars/typography';
@import 'vars/colors';
@import 'elements/button';
@import 'elements/input';

@import url($font-url);

html {
  box-sizing: border-box;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Helvetica Neue', 'Arial',
    sans-serif;
  font-size: map-get($font-size, base);
  font-weight: map-get($font-size, base);
  height: 100%;
  background-color: white;
  color: map-get($colors, gray-900);
  transition: all 800ms ease;
  #root {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button,
    input,
    select {
      font-size: 1rem;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

// rules for dark theme

[data-theme='dark'] {
  body {
    background-color: map-get($colors, gray-900);
    color: map-get($colors, gray-100);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: map-get($colors, gray-100);
    background: map-get($colors, gray-900);
  }
}
