@import '../../assets/scss/mixins/mixins';
@import '../../assets/scss/vars/colors';

.primary {
  @include btn-theme($type: primary);
  &--dark {
    @include btn-theme($type: 'primary--dark');
  }
}

.submit {
  @include btn-theme(submit);
}

.circle--light {
  $light: map-get($btn-color--mode, light);
  $bg: map-get($light, bg);
  $border: map-get($light, border);
  $border-hover: map-get($light, border-hover);
  width: 50px;
  height: 50px;
  background-color: $bg;
  border-color: $border;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: border-color 0.4s ease;
  * {
    flex: 0 0 auto;
  }
  &:hover,
  &:focus {
    background-color: $bg;
    border-color: $border-hover;
  }
}

.circle--dark {
  @extend .circle--light;
  $dark: map-get($btn-color--mode, dark);
  $bg: map-get($dark, bg);
  $border: map-get($dark, border);
  $border-hover: map-get($dark, border-hover);
  background-color: $bg;
  border-color: $border;
  &:hover,
  &:focus {
    background-color: $bg;
    border-color: $border-hover;
  }
}

// Styles below need correction

.active {
  background-color: #007bff;
  color: white;
  &:disabled {
    background-color: #007bff;
    color: white;
    cursor: default;
  }
}

.danger {
  border: 1px solid #e73a3a;
  color: #e73a3a;
  background-color: white;
  &:hover {
    background-color: #e73a3a;
    color: white;
  }
  &:focus,
  &:active {
    background-color: #c03b3b;
    color: white;
  }
}

.edit {
  border: 1px solid #eca306;
  color: #eca306;
  background-color: white;
  &:hover {
    background-color: #eca306;
    color: black;
  }
  &:focus,
  &:active {
    background-color: #dd9906;
    color: black;
  }
}

.closeX {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  background: 0;
  color: #ccc;
  overflow: hidden;
  border: none;
  font-size: 2.5em;
  font-family: serif;
  line-height: 1.2;
  cursor: pointer;
  transition: color 0.1s ease-out;
  &:hover {
    transform: none;
    background: none;
    color: #f27474;
  }
}
