@import '../vars/colors';

[type='text'],
[type='email'],
[type='number'],
[type='password'],
select,
textarea {
  font-size: 1.1rem;
  border: 2px solid map-get($input-colors, bg);
  background-color: map-get($input-colors, bg);
  border-radius: 0.4rem;
  padding: 1.3rem;
  outline: none;
  transition: box-shadow 0.2s ease, background-color 0.4s ease,
    border-color 0.4s ease;
}

[type='text']:focus,
[type='text']:active,
[type='text']:hover,
[type='email']:focus,
[type='email']:active,
[type='email']:hover,
[type='number']:focus,
[type='number']:active,
[type='number']:hover,
[type='password']:focus,
[type='password']:active,
[type='password']:hover,
textarea:focus,
textarea:active,
textarea:hover,
select:focus,
select:active {
  $bg: map-get($input-colors, bg-ring-hover);
  $border: map-get($input-colors, border-hover);
  border-color: transparent;
  box-shadow: 0 0 0 4px $bg, 0 0 0 6px $border;
}

select {
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==)
    right center no-repeat;
  line-height: 1;
  width: 100%;
  max-width: 100%;
}

select::-ms-expand {
  display: none;
}

label {
  font-size: 0.8rem;
}
