$colors: (
  gray-900: #1f2028,
  gray-800: #2e3039,
  gray-700: #3a3d4a,
  gray-600: #4b4c53,
  gray-500: #535661,
  gray-400: #818890,
  gray-300: #dde0e4,
  gray-200: #e6e9ee,
  gray-100: #f7f7f7,
  pure-white: #fff,
  green-100: #c1f0c9,
  red-danger: #ff5757,
);

$btn-color--mode: (
  light: (
    bg: transparent,
    border: map-get($colors, gray-200),
    border-hover: map-get($colors, gray-900),
    icon: map-get($colors, gray-900),
  ),
  dark: (
    bg: transparent,
    border: map-get($colors, gray-600),
    border-hover: map-get($colors, gray-100),
    icon: map-get($colors, gray-100),
  ),
);

$input-colors: (
  bg: map-get($colors, gray-100),
  bg-ring-hover: map-get($colors, pure-white),
  border-hover: map-get($colors, gray-900),
  error: map-get($colors, red-danger),
);

$btn-colors: (
  primary: (
    bg: map-get($colors, pure-white),
    bg-hover: map-get($colors, pure-white),
    bg-ring-hover: map-get($colors, pure-white),
    border: map-get($colors, gray-200),
    border-hover: map-get($colors, gray-900),
    text: map-get($colors, gray-900),
    text-hover: map-get($colors, gray-900),
  ),
  primary--dark: (
    bg: map-get($colors, gray-900),
    bg-hover: map-get($colors, gray-900),
    bg-ring-hover: map-get($colors, gray-900),
    border: map-get($colors, gray-600),
    border-hover: map-get($colors, gray-100),
    text: map-get($colors, gray-100),
    text-hover: map-get($colors, gray-100),
  ),
  submit: (
    bg: map-get($colors, green-100),
    bg-hover: map-get($colors, green-100),
    bg-ring-hover: map-get($colors, pure-white),
    border: map-get($colors, green-100),
    border-hover: darken(map-get($colors, green-100), 40%),
    text: darken(map-get($colors, green-100), 80%),
    text-hover: map-get($colors, gray-900),
  ),
  disabled: (
    bg: map-get($colors, pure-white),
    border: map-get($colors, gray-200),
    text: map-get($colors, gray-200),
  ),
);
